Repository eth-cscs/cscs-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bcumming, @msimberg, @RMeli, @rsarm, @jpdorsch, @ekouts, @theely, @iB0nes, @eliaoggian, @Madeeks, @jgphpc, @finkandreas, @abussy, @nickjbrowning, @kanduri, @boeschf, @henrique, @lukasgd, @mpasserini

Update prgenv-gnu/25.6 documentation
  docs/software/prgenv/prgenv-gnu.md
Owners: @bcumming, @msimberg, @RMeli

Add workarounds and UIs to spell checker whitelist
  .github/actions/spelling/allow.txt
Owners: @bcumming, @msimberg, @RMeli

Update note about xcb workaround for nvidia profilers
  docs/software/devtools/nvidia-nsight.md
Owners: @bcumming, @msimberg, @RMeli

Add section about using snippets to contributing guide
  docs/contributing/index.md
Owners: @bcumming, @msimberg, @RMeli

Add example of snippet
  docs/contributing/index.md
Owners: @bcumming, @msimberg, @RMeli

Update `prgenv-gnu/25.6` documentation (#254)
  .github/actions/spelling/allow.txt
  docs/software/devtools/nvidia-nsight.md
  docs/software/prgenv/prgenv-gnu.md
Owners: @bcumming, @msimberg, @RMeli

Update docs/contributing/index.md
  docs/contributing/index.md
Owners: @bcumming, @msimberg, @RMeli

Add section about using snippets to contributing guide (#255)
  docs/contributing/index.md
Owners: @bcumming, @msimberg, @RMeli

wip
  docs/build-install/index.md
  docs/contributing/index.md
  docs/ml/data.md
  docs/patchref
  docs/software/commercial/index.md
  docs/software/commercial/matlab.md
  docs/software/cw/index.md
  docs/software/cw/wrf.md
  docs/software/index.md
  docs/software/ml/index.md
  docs/software/sciapps/cp2k.md
  docs/tutorials/ml/index.md
  docs/tutorials/ml/llm-fine-tuning.md
  docs/tutorials/ml/llm-inference.md
  docs/tutorials/ml/llm-nanotron-training.md
  mkdocs.yml
Owners: @bcumming, @msimberg, @RMeli, @boeschf, @henrique, @lukasgd, @abussy

Add alternative workaround for Cray MPICH hangs
  docs/software/communication/cray-mpich.md
Owners: @Madeeks, @msimberg

Add workaround for slow intra-node communication with Cray MPICH
  docs/software/communication/cray-mpich.md
Owners: @Madeeks, @msimberg

Apply suggestion from @msimberg
  docs/software/communication/cray-mpich.md
Owners: @Madeeks, @msimberg

Update jupyterlab.md
  docs/access/jupyterlab.md
Owners: @rsarm

looking pretty clean
  docs/build-install/index.md
  docs/build-install/uenv.md
  docs/clusters/daint.md
  docs/clusters/eiger.md
  docs/index.md
  docs/patchref
  docs/platforms/mlp/index.md
  docs/software/commercial/index.md
  docs/software/cw/index.md
  docs/software/cw/wrf.md
  docs/software/index.md
  docs/software/ml/pytorch.md
  docs/software/prgenv/prgenv-gnu.md
  docs/software/sciapps/gromacs.md
  docs/software/sciapps/lammps.md
  docs/software/sciapps/namd.md
  docs/software/sciapps/quantumespresso.md
  docs/software/sciapps/vasp.md
  docs/software/sciviz/paraview.md
  docs/software/uenv/index.md
  docs/tutorials/ml/index.md
Owners: @bcumming, @msimberg, @RMeli, @boeschf, @henrique, @lukasgd, @kanduri, @nickjbrowning

Custom container toml specification mount points (#257)
  docs/access/jupyterlab.md
Owners: @rsarm

fix spelling
  .github/actions/spelling/allow.txt
  docs/software-deployment/index.md
  docs/software/index.md
Owners: @bcumming, @msimberg, @RMeli

some fixes from Mikaels comments
  docs/build-install/index.md
  docs/environments/index.md
  docs/software/prgenv/index.md
  mkdocs.yml
Owners: @bcumming, @msimberg, @RMeli

Apply suggestion from @msimberg
  docs/index.md
Owners: @bcumming, @msimberg, @RMeli

Apply suggestion from @msimberg
  docs/clusters/eiger.md
Owners: @bcumming, @msimberg, @RMeli

Apply suggestion from @msimberg
  docs/software/unsupported.md
Owners: @bcumming, @msimberg, @RMeli

Apply suggestion from @msimberg
  docs/index.md
Owners: @bcumming, @msimberg, @RMeli

Update docs/software/prgenv/prgenv-gnu.md
  docs/software/prgenv/prgenv-gnu.md
Owners: @bcumming, @msimberg, @RMeli

Update docs/environments/index.md
  docs/environments/index.md
Owners: @bcumming, @msimberg, @RMeli

Update docs/contributing/index.md
  docs/contributing/index.md
Owners: @bcumming, @msimberg, @RMeli

Refactor for ML discoverability (#246)
  .github/actions/spelling/allow.txt
  docs/build-install/index.md
  docs/build-install/pip.md
  docs/build-install/uenv.md
  docs/clusters/daint.md
  docs/clusters/eiger.md
  docs/contributing/index.md
  docs/environments/index.md
  docs/index.md
  docs/patchref
  docs/platforms/mlp/index.md
  docs/software/commercial/index.md
  docs/software/commercial/matlab.md
  docs/software/cw/index.md
  docs/software/cw/wrf.md
  docs/software/index.md
  docs/software/ml/pytorch.md
  docs/software/prgenv/index.md
  docs/software/prgenv/prgenv-gnu.md
  docs/software/sciapps/cp2k.md
  docs/software/sciapps/gromacs.md
  docs/software/sciapps/index.md
  docs/software/sciapps/lammps.md
  docs/software/sciapps/namd.md
  docs/software/sciapps/quantumespresso.md
  docs/software/sciapps/vasp.md
  docs/software/sciviz/index.md
  docs/software/sciviz/paraview.md
  docs/software/uenv/index.md
  docs/software/unsupported.md
  docs/software/unsupported/index.md
  docs/tutorials/index.md
  docs/tutorials/ml/index.md
  mkdocs.yml
Owners: @bcumming, @msimberg, @RMeli, @boeschf, @henrique, @lukasgd, @abussy, @kanduri, @nickjbrowning

Update known Cray MPICH issues (#256)
  docs/software/communication/cray-mpich.md
Owners: @Madeeks, @msimberg

Update docs/software/devtools/gssr/containers.md
  docs/software/devtools/gssr/containers.md
Owners: @bcumming, @msimberg, @RMeli

Update docs/software/devtools/gssr/containers.md
  docs/software/devtools/gssr/containers.md
Owners: @bcumming, @msimberg, @RMeli

Update docs/software/devtools/gssr/containers.md
  docs/software/devtools/gssr/containers.md
Owners: @bcumming, @msimberg, @RMeli

.github/CODEOWNERS:

* @bcumming @msimberg @RMeli
docs/access/jupyterlab.md @rsarm
docs/services/firecrest.md @jpdorsch @ekouts @theely @iB0nes
docs/services/devportal.md @jpdorsch @ekouts @theely @iB0nes
docs/services/kubernetes @eliaoggian
docs/software/communication @Madeeks @msimberg
docs/software/devtools/linaro @jgphpc
docs/software/devtools/vihps @jgphpc
docs/software/prgenv/linalg.md @finkandreas @msimberg
docs/software/sciapps/cp2k.md @abussy @RMeli
docs/software/sciapps/lammps.md @nickjbrowning
docs/software/sciapps/gromacs.md @kanduri
docs/software/ml @boeschf @henrique @lukasgd
docs/storage @mpasserini
docs/alps/storage.md @mpasserini
